Backend/__pycache__/database.cpython-312.pyc
Backend/__pycache__/main.cpython-312.pyc
Backend/__pycache__/models.cpython-312.pyc
Backend/__pycache__/Modules.cpython-312.pyc
Frontend/.eslintrc.cjs
Frontend/.gitignore
Frontend/hello.txt
Frontend/public/vite.svg
Frontend/vite.config.js
Frontend/src/assets/react.svg
