.pie-charts{
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

.charts{
    width: 30vw;
    height: 30vw;
}

.data{
    background-color: #151618;
    width: 70%;
    height: 60%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 1vw;
    font-size: 1.7vw;
    padding: 1.5vw;
    border: 1px solid whitesmoke;
}