.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .popup-content {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    /* Adjust width and height for your desired size */
    width: 40vw;
    height: 50vh;
  }
  